.projects {
  text-align: center;
  padding-top: 50px;

  .projects-container {
    display: flex;
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    margin-top: 75px;
    padding-bottom: 50px;
    white-space: nowrap;

    @media screen and (max-width: 1500px) {
      max-width: 95vw;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;

      h4 {
        font-size: 24px;
      }
    }
  }
}
